@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montreal;
  src: url(fonts/PPNeueMontreal-Book.otf) format("truetype");
}

#navbar {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 1%;
  font-size: 30px;
  font-family: Montreal;
}

#navbar a:hover {
  font-style: italic;
}

#summary,
#header {
  font-size: 40px;
  font-family: Montreal;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 40px;
  font-size: 20px;
  font-family: Montreal;
}

#icon {
  filter: invert(97%) sepia(100%) saturate(14%) hue-rotate(345deg)
    brightness(105%) contrast(104%);
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

#box {
  width: 30%;
  margin: auto;
  text-align: center;
  font-size: 25px;
}
